<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.brooke.wpb-daily-site-maintenance</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>cd /Volumes/ExternalSSD/WPB_NewConstruction &amp;&amp; npm run daily:maintenance</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/wpb-daily-site-maintenance.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/wpb-daily-site-maintenance.err.log</string>
</dict>
</plist>
